   
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

  <main class="px-3">
    <h1>Bienvenue sur Create Me</h1>
    <p class="lead">Bonjour à toi, jeune artiste. Ici tu peux stocker toutes tes idées de projets ! Un dessin ? Une histoire ? Une maquette ? <br> 
Laisse ton imagination prendre le dessus et note tes idées dans cette application. Ainsi, le jour où tu auras le syndrôme de la page blanche, tu pourras nous rendre visite !</p>
  </main>

</div>

